* {
  margin: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background: #1F2039;
}

a {
  color: #242424
}

.important {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  font-family: montserrat, sans-serif;
  color: #A5B4FC
  
}

p,
li {
  font-size: 1.1em;
  color: #f9f8ff;
}

.div {
color: white;
}

h2 {
  color: #f9f8ff;
}

header,
footer {
  background-color: white;
  padding: 20px 50px;
}

.cta {
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 45px;
  padding: 10px;
}

.englobement {
  border-right: 2px solid #8e86b5;
  border-bottom: 2px solid #8e86b5;
  padding: 50px;
}

.englobement h2 {
  margin-top: 50px;
}

.englobement ul {
  margin-top: 50px;
}

a:hover {
  text-decoration: underline;
}

.cta:hover {
  background: linear-gradient(#696484, #8788ba);
}

.icone:hover {
  opacity: 0.5;
}

section {
  padding: 80px;
}

main {
  width: 70%;
  margin: auto;
}

.voir_mon_p {
  margin-top: 20px;
}

footer,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

nav a {
  margin-left: 30px;
}

.photo {
  background-color: white;
  padding: 50px;
  border-radius: 50px;
}

.photo h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 50px;
}

.photo div {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  margin-bottom: 15px;
}

.intro {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: auto;
}

footer {
  margin-top: 80px;
}

.photo-conteneur {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}